﻿
<head>
    <title>Car Book Araç Kiralama</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/rentcar/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/rentcar/css/animate.css">

    <link rel="stylesheet" href="~/rentcar/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/rentcar/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/rentcar/css/magnific-popup.css">

    <link rel="stylesheet" href="~/rentcar/css/aos.css">

    <link rel="stylesheet" href="~/rentcar/css/ionicons.min.css">

    <link rel="stylesheet" href="~/rentcar/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/rentcar/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/rentcar/css/flaticon.css">
    <link rel="stylesheet" href="~/rentcar/css/icomoon.css">
    <link rel="stylesheet" href="~/rentcar/css/style.css">
</head>